<div class="container">

<div class="rent">
<h1>Rent Out Your Pet!</h1>
</div>
<%= simple_form_for @pet do |f| %>
<%= f.input :name %>
<%= f.input :pet_type %>
<%= f.input :breed %>
<%= f.input :age %>
<%= f.input :color %>
<%= f.input :description %>
<%= f.input :needs %>
<%= f.input :price %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>
