<div class="container">
  <h1>Booking number #<%=@booking.id%> </h1>
  <hr>
    <div class="details">
      <div class="booking-details">
          <h3> Booking confirmed</h3>

          <%=cl_image_tag @owner.photo  %>
          <div class="list">
            <ul>
              <li> <%=link_to @owner.name, profile_dashboard_path(@owner) %></li>
              <li>Address - <%= @owner.address %></li>
              <li>email - <%= @owner.email %></li>
            </ul>
          </div>
          <% if @booking.review.nil? %>
            <%if @booking.ends_at < @date %>
              <div class="review">
              <p>Make sure to review <%= @owner.name %> & <%= @pet.name %></p>
                <%= simple_form_for @booking do |f| %>
                  <%=  f.input :review %>
                  <% f.input :id %>
                  <%= f.submit %>
                <% end %>
              </div>
            <%else %>
              <p>Don't forget to leave a review after you return <%= @pet.name %>!</p>
            <% end %>
          <% else %>
            <p>Your review has been submitted!</p>
        <% end %>
      </div>
        <div class="card-trip">
          <img src=<%= @pet.photo ? @pet.photo : "https://tevra@pet.com/wp-content/uploads/2017/02/AdobeStock_109191236.jpeg" %> />
          <div class="card-trip-infos">
            <div>
              <h2><%=@pet.name%></h2>
              <p><strong>description:</strong> <%= @pet.description %></p>
              <p><strong>breed:</strong> <%= @pet.breed %></p>
              <p><strong>age</strong>: <%= @pet.age %></p>
              <p><strong>color</strong>: <%= @pet.color %></p>
              <p><strong>needs</strong>: <%= @pet.needs %></p>
              <h2 class="card-trip-pricing"><%= @booking.cost %>$</h2>
              <img src= <%= @pet.user.photo ? @pet.user.photo : "https://cbsnews1.cbsistatic.com/hub/i/2018/11/06/0c1af1b8-155a-458e-b105-78f1e7344bf4/2018-11-06t054310z-1334124005-rc1be15a8050-rtrmadp-3-people-sexiest-man.jpg" %> class="card-trip-user avatar-bordered" >
            </div>
          </div>
        </div>
      </div>
  <hr>
  <div class="row">
  </div>
      <%= link_to 'Back to the P&B', root_path,  class: "btn btn-primary login-button" %>
</div>
